.p-hero {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.p-hero ul li {
  display: inline-block;
  padding-right: 2rem;
}

.p-meta {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-between;
}

.p-next {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.p-next img {
  padding-left: .5rem;
  max-width: 13%;
  height: auto;
}

.p-next p {
  font-weight: 800;
  font-size: 0.7rem;
}
