.p-hero {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.p-hero ul li {
  display: inline-block;
  padding-right: 2rem;
}

.p-meta {
  display: none;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-between;
}

.p-next a {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

img {
  max-width: 100%;
  height: auto;
}

.p-next img {
  padding-left: 0.5rem;
  max-width: 13%;
  height: auto;
}

.filter {
  filter: gray;
  filter: grayscale(30%);
}

.p-next a {
  font-weight: 800;
  font-size: 0.8rem;
}

@media all and (min-width: 1220px) {
  .p-meta {
    display: flex;
  }

  img {
    padding: 0;
  }
}
