article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.p-hero {
  width: 100%;
  order: -1;
}
.p-info {
  width: 100%;
}

@media all and (min-width: 900px) {
  .p-hero {
    width: 66.6%;
    order: 2;
  }

  .p-info {
    width: 24%;
  }
}
