h2 {
  font-family: "PT Mono", monospace;
  font-weight: 800;
  font-size: 1.3em;
}

.p-info {
  display: flex;
  font-size: 1em;
  flex-flow: row wrap;
  align-content: space-between;
}

.p-view-link {
  font-weight: 800;
  font-size: 0.8em;
  border-bottom: 1px solid black;
  padding-bottom: 0;
}

@media all and (min-width: 900px) {
  h2 {
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-size: 2em;
  }

  .p-info {
    width: 30%;
  }

  .p-view-link {
    font-weight: 800;
    font-size: 0.8em;
  }
}
