/* Normalizing the CSS and creating the over all layout for the application */
* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Layout */

main {
  display: grid;
  padding: 6rem 9rem;
  gap: 2.5rem 2rem;
  height: 90vh;
  justify-content: stretch;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 3fr 3fr;
  grid-template-areas:
    "header header"
    "project project";
}

.header {
  place-self: center;
  grid-area: header;
}

.project {
  place-self: center;
  grid-area: project;
}
