nav {
  font-size: 1.2rem;
  display: flex;
  flex-flow: column nowrap;
  text-align: start;
}

nav ul li {
  background-color: white;
  padding: 0.5rem 0;
}

nav ul .link {
  display: none;
}

nav .connect {
  font-weight: 800;
  font-size: 0.8rem;
}

nav .connect:hover {
  border-bottom: 1px solid black;
}

@media all and (min-width: 900px) {
  nav ul .link {
    display: block;
  }

  nav {
    text-align: end;
  }
}
