nav {
  font-size: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  text-align: end;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
}

ul li {
  padding: .8rem 0;
  
}

nav .connect {
  font-weight: 800;
  font-size: 1rem;
}
